{% extends "header.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/asi.css' %}">

<div class="container">
   <div class="baslik">
      <h1>Yıldız Bungalov</h1>
      <h3>Sakarya/Sapanca</h3>
   </div>

   <div class="images">
      <div class="first_image">
         <img src="{% static 'images/yildizbungalov/main.jpg' %}" alt="main">
      </div>
   </div>

   <hr>

   <div class="konaklama">
      <h2>Konaklama Bilgileri</h2>
      <p>Kendine ait bahçesi ve ısıtmalı havuzuyla Polen Bungalov, 4 kişiye kadar konaklama kapasitelidir.</p>
      <p>Haftasonu minimum 2 gece satış yapılmaktadır.</p>
      <ul>
         <li>
            Giriş Saati - 14:00
         </li>
         <li>
            Çıkış Saati - 11:00
         </li>
      </ul>
   </div>

   <hr>

   <div class="ozellik">

      <div class="genel_ozellikler">
         <h3>Genel Özellikler</h3>
         <ul>
            <li>Havuz</li>
            <li>Barbekü</li>
            <li>0-7 Yaş Ücretsiz</li>
            <li>Isıtmalı Havuz</li>
            <li>Balkon / Deck / Teras</li>
            <li>İnternet</li>      
            <li>Özel Bahçe</li>
            <li>Klima</li>
            <li>Otopark</li>
         </ul>
      </div>

      <div class="mutfak">
         <h3>Mutfak Bilgileri</h3>
         <ul>
            <li>Amerikan Mutfak</li>
            <li>Çaydanlık</li>
            <li>Mutfak Eşyaları</li>
            <li>Kahve Makinesi</li>
            <li>Mini Buzdolabı</li>
            <li>Elektrikli Su Isıtıcısı</li>
         </ul>
      </div>

      <div class="icmekan">
         <h3>İç Mekan Bilgileri</h3>
         <ul>
            <li>Full Eşyalı</li>
            <li>Duş / WC</li>
            <li>Masa / Sandalye</li>
            <li>Çift Kişilik Yatak</li>
            <li>Wi-Fi</li>
            <li>Berjer</li>
            <li>Televizyon</li>
            <li>Kanepe</li>
            <li>Netflix</li>
         </ul>
      </div>

      <div class="dismekan">
         <h3>Dış Mekan Bilgileri</h3>
         <ul>
            <li>Korunaklı Bahçe</li>
            <li>Veranda</li>
            <li>Barbekü / Mangal</li>
            <li>Özel Yüzme Havuzu</li>
            <li>Isıtmalı Havuz</li>
            <li>Bahçe Masası</li>
            <li>Şezlong / Şemsiye</li>
            <li>Sandalyeler</li>
         </ul>
      </div>

      <hr>

      <div class="uyari">
         <h2>Bayram, özel gün ve resmi tatillerde fiyatlarımız değişkenlik göstermektedir.</h2>
      </div>

      <hr>


   </div>

</div>



{% endblock %}